.Home-section{
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.Home-content {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: -20000;
  margin-top: -60px;
}

.Home-content p {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 8rem;
}

.btn{
  font-size: 1.6rem;
  color: rgb(255, 0, 0);
}