.nav{
    color: black;
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 28px;
}

.navList{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
}